@import '../../scss/index.scss';

.home{

    .titulo-home{
        border-bottom: 1px solid $borde-gris;
        padding: 15px;
        
        h2{
            font-size: 22px;
            margin-bottom: 0;
            font-weight: bold;
        }
    }
}