@import "./scss/index.scss";

body{
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    background-color: $fondo-verde-claro;
    color: $fuente-gris;
}

code{
    font-family: 'Roboto', sans-serif;
}

.btn{
    box-shadow: none !important;
}

.btn.btn-primary{
    background-color: $principal;
    border-color: $principal;
    &:hover, &active, &focus{
        background-color: #2a9d8f ;
    }
}

.btn.btn-outline-light{
    background-color: $fuente-clara;
    color: $fuente-oscura;
    border-color: $principal;
    &:hover{
        background-color: $principal ;
        color: $fuente-clara;
    }
}


// FORMULARIOS
input.form-control, textarea.form-control{
    background-color: $fondo-verde-claro;
    margin: 10px;
    border-radius: 15px;
    border: 0;
    border-bottom: 1px solid $borde-gris;
    color: $fuente-oscura !important;

    &:focus{
        background-color: $fondo-claro;
        box-shadow: none;
        border-bottom: 1px solid $borde-principal;
    }
}