@import "./scss/index.scss";

body{
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    background-color: $fondo-gris-oscuro;
    color: $fondo-claro;
}

code{
    font-family: 'Roboto', sans-serif;
}

.btn{
    box-shadow: none !important;
}

.btn.btn-primary{
    background-color: $principal;
    border-color: $principal;
    &:hover{
        background-color: #2a9d8f ;
    }
}

.btn.btn-outline-light{
    background-color: $fuente-clara;
    color: $fuente-oscura;
    border-color: $principal;
    &:hover{
        background-color: $principal ;
        color: $fuente-clara;
    }
}