@import "../../scss/index.scss";

// Contenedor
.acceso-usuario{

    // componente izquierda
    .acceso-usuario-izq{
        overflow: hidden;
        min-height: 100vh;
        background-color: $principal-claro;
        display: flex;
        align-items: center;
        justify-content: center;
        // imagenes
        img{
            position:absolute;
        }
        // //titulo    
        h2{
            display: flex;
            align-items: center;
            font-size: 30px;
            margin-bottom: 40px;
            font-weight: bold;
        }
    }


    // componenete derecha
    .acceso-usuario-drch{
        display: flex;
        align-items: center;
        // primer div
        > div {
            width: 500px;
            margin: 0 auto;

            //imagenes
            img{
                width: 200px;
                margin-bottom: -15px;
            }
            // titulos
            h2{
                font-weight: bold;
                font-size: 40px;
                margin-bottom: 70px;
            }

            h3{
                font-weight: bold;
                font-size: 20px;
                margin-bottom: 30px;
            }

            // botones registro e inicio
            button{
                display: block;
                width: 40%;
                border-radius: 15px;
                font-size: 20px;
                font-weight: bold;
                padding: 10px 0;
                margin-bottom: 10px;
            }
        }
    }

}
