@import "../../scss/index.scss";

.list-negocios{
    padding: 0;

    .list-negocio-negocio{
       padding: 15px 30px;
       color: $fuente-oscura;
       border-bottom: 1px solid $borde-gris;

       &:hover{
           color: $fuente-oscura;
           background-color: $principal;
           text-decoration: none;
       }
    }
}