@import "../../scss/index.scss";

.publicacion-ventana{
    .modal-content{
        background-color: $fondo-verde-claro;
        border-radius: 25px;
        overflow: hidden;

        .modal-header{
            border-bottom: 1px solid $borde-gris;
            padding:15px;

            .modal-title{
                .iconos{
                    width:25px;
                    height: 25px;
                    fill:$principal;
                    margin-left: 10px;

                    &:hover{
                        cursor: pointer;

                    }
                }
            }
        }

        .modal-body{
            padding: 0;
            form{
                textarea{
                    background-color: $fondo-verde-claro;
                    border: 0;
                    font-size:20px ;
                    color: $fuente-clara;
                    padding: 10px 20px ;
                    resize:none;

                    &:focus{
                        box-shadow: none;
                    }
                }

                .contador{
                    margin: 15px;
                }

                button{
                    width: 100%;
                    height: 60px;
                    font-weight: bold;
                    font-size: 18px;
                    margin-top: 10px;
                }
            }
        }


    }
}