@import "../../scss/index.scss";

.form-reg{
    h2{
        font-weight: bold;
        margin-left: 10px;
        padding-bottom: 30px;
    }

    .form-group{
        padding-bottom: 20px;

        input{
            font-size: 25px;
        }
    }

    button{
        width: 100%;
        font-size: 20px;
        font-weight: bold;
        padding: 15px;
        border-radius: 50px;
        margin-top: 20px;
    }

    
}