
// COLORES DEL PROYECTO
$color1: #178061;
$color2: #50c878;
$color3: #15212B;
$color4: #192734;
$color5: #8799A6;


// COLORES DE FUENTES DEL PROYECTO
$fuente1: $color1;
$fuente2: #fff;
$fuente3: $color5;
$fuente4: #000;

// Colores de los bordes
$borde1: $color1;
$borde2: #fff;
$borde3: #38444d;
$borde4: #15212B;

// Colores de fondo
$fondo1: #fff;
$fondo2: #15212B;
$fondo3: #192734;

// colores cuando hay un fallo
$incorrecto: #e0245e;